<h3>ラベル一覧</h3>
<%= link_to "ラベル登録", new_label_path %>
<%= link_to "タスク一覧へ戻る", tasks_path %>
<table>
  <thead>
    <tr>
      <th><%= Label.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= link_to "編集",edit_label_path(label.id) %></td>
        <td><%= link_to "削除",label_path(label.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>