<h3>ラベル登録</h3>
<%= form_with(model: @label, local: true) do |form| %>
  <div class="field">
    <%= form.label :name, t('activerecord.attributes.label.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to "戻る", labels_path %>